body {margin: 0; padding: 0; color: #333; font-family: "trebuchet ms"; font-size: 14px; background: #f5f5f5 /*url(../img/bg3.jpg) repeat-x left 63px*/;}
body#edit_entry_popup {background: #F6F5EE;}

ul, ol, li {margin: 0; padding: 0; list-style: none;}
p, h1, h2, h3 ,h4, h5, h6, h7 {margin: 0; padding: 0;}
table {margin: 0; padding: 0;}
td {vertical-align: top;}

a {color: #0079AC; text-decoration: none;}
	
a img {border: none;}
a:hover img {border: none;}

hr.clear {clear: both; height: 0; margin: 0; padding: 0; visibility: hidden;}
.inv {display: none;}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}

.delimiter {clear: both;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

form {display: inline;}
input {width: 100%;}
input, textarea, select, button {padding: 2px; color: #333; font-family: "trebuchet ms"; font-size: 16px;}
select {cursor: pointer;}
textarea {width: 99%; height: 99%;}


h1 {margin-bottom: 7px; color: #4d4d4d; font-size: 32px; font-weight: normal; text-align: center; letter-spacing: -0.015em; line-height: 36px;}
h1 strong {color: #1a1a1a;}
h1 span {margin-left: 5px; color: #999; font-weight: normal; font-size: 18px;}

h2, .main_title {margin: 0; padding: 6px 10px 7px; color: #ACE6FF; font-size: 15px; font-weight: normal; line-height: 14px; border-top: 1px solid #fff; border-right: 1px solid #fff; border-bottom: 2px solid #CCC; background: #2e9ac8 url(../img/bg_grad.gif) repeat-x left bottom;}
h2 a, .main_title a {color: #fff;}
h2 .follow, .main_title .follow {color: #ace6ff;}

h3 {padding: 0 10px 5px 0; color: #333; font-family: "trebuchet ms"; font-size: 18px;}
h4 {padding: 0 10px 6px 0; color: #333; font-family: "trebuchet ms"; font-size: 15px;}

.message {clear: both; padding: 10px; font-size: 16px; text-align: center;}
.error {margin: 7px 0; color: #f00; font-weight: bold; line-height: 14px;}
.nobg {background: none !important;}

#success_info_position {display: none; z-index: 20000; position: fixed; right: 0; top: 0; width: 80px; padding: 2px 7px; color: #fff; font-size: 9px; font-family: tahoma; text-align: center; overflow: hidden; background: #91B737;}
#save_success {display: none; z-index: 30000; position: fixed; right: 0; top: 0; width: 160px; padding: 2px 7px; color: #fff; font-size: 9px; font-family: tahoma; text-align: center; overflow: hidden;  background: #EF7C00;}
* html #success_info_position, * html #save_success {position: absolute;}

.dark {position:absolute; z-index:10001; top:0; left:0; width:100%; height:5000px; background: url(/img/bg_dark.gif) repeat;}
* html .dark {height: 1000px;}
.dark_z1 {z-index: 100001}

#popup {position: fixed; z-index: 100002; top: 50px; left: 50%; width: 500px; margin-left: -210px; background: #F6F5EE; border-top: 1px solid #F5F5F5; border-left: 1px solid #ccc; border-width: 1px; border-style: solid; border-color: #F5F5F5 #666 #444 #ccc;}
#edit_entry_popup #popup {top: 30px !important; left: 21px !important; margin-left: 0 !important;}
#popup_border {border: 3px solid #2E9AC8;}
#popup_inner {padding: 5px;}
#popup a {font-size: 11px;}
#popup table {border-collapse: collapse;}
#popup td {padding: 2px; width: 50%; line-height: 0.9em;}
#popup td.bo {padding-bottom: 7px; padding-right: 7px;}
#popup td.le {padding-left: 7px; border-left: 2px solid #eaeaea;}
#popup h2 {border-top-width: 0; border-right-width: 0; font-weight: bold;}
#popup h3 {padding: 0; color: #82A431; font-size: 12px; font-family: arial; line-height: 1.25em;}
#popup p {color: #777; font-family: tahoma; font-size: 11px; text-align: left;}
#popup p.same_as {margin: 5px 0; padding: 8px; color: #85A75C; font-size: 16px; font-weight: bold; text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
#popup input {float: right; width: auto; margin-top: 0; margin-left: 4px; padding: 2px 10px;}
#popup .question {padding: 5px 7px; background: #F1F7E2; border: 2px solid #9EC83C;}
#popup .question p {padding-left: 7px; float: left; color: #000; font-size: 15px; font-weight: bold; line-height: 34px;}

#sameas_wdesc {background: url(/img/indicator.gif) no-repeat center center;}

.remember_holder {margin-top: 5px; margin-bottom: 10px;}
.bottom {margin-top: 5px; padding-top: 5px; color: #666; font-size: 11px; border-top: 1px solid #ccc;}

.tag_cloud {font-family: tahoma; line-height: 2em; text-align: center; overflow: hidden;}
* html .tag_cloud {line-height: 2.3em}
.tag_cloud a {padding: 0 5px; color: #0079AC;}
.tag_cloud strong {color: #EF7C00;}


#google_help_container {display: none;}


.gsc-cursor-page {text-decoration: none !important;}

.gsc-resultsHeader {margin: 0px 0 0 8px !important; visibility: hidden !important;}

.gs-snippet, .gs-visibleUrl, .gsc-twiddle {display: none !important;}
.gs-result .gs-title, .gs-result .gs-title * {color: #333 !important; text-decoration: none !important; font-weight: normal !important; cursor: default !important;}
.gs-result .gs-title {padding-left: 4px;}
.gs-result .gs-title:hover, .gs-result .gs-title:hover *, .gs-result .gs-title.hover, .gs-result .gs-title.hover * {background-color: #0079AC; color: #fff !important;}

.gs-result .gs-title em {color: #82A431 !important; font-family: tahoma; font-size: 9px; font-style: normal;}
.gs-result .gs-title strong {color: #666 !important; font-weight: bold !important;}

.gsc-control {width: 100% !important;}

.gs-title {margin-bottom: 2px !important;}
.gs-result .gs-title b {color: #000 !important;}
.gsc-results {width: 100%; margin: 0}
.gsc-results .gsc-cursor-box  {clear: both; margin: 0 0 5px 8px !important; padding-top: 5px !important; padding-bottom: 0 !important; border-width: 0 !important;}

.gs-webResult {clear: both !important; margin: 0 !important;}
.gsc-result {margin: 0 !important;}

.gs-title {float: left !important; width: 100%; overflow: hidden !important;}

.gsc-keeper {display: none;}

* html .gsc-result {margin: 0;}

.close {z-index: 200000; display: block; position: absolute; top: 0; right: 5px; width: 20px; font-size: 9px; font-family: tahoma; text-align: center;}
.close:hover {text-decoration: none;}

.butt {margin-top: 5px; color: #0079AC; font-weight: bold;}
.butt_small {margin-top: 0; width: 65px; padding: 0; font-size: 10px; text-transform: uppercase;}

/*input.butt {width: 424px; margin-top: 5px; padding: 1px; padding-bottom: 2px; color: #5f758b; font-size: 16px; background: #e1e1e1; border: 1px solid #7f9db9;}
input.butt:hover {color: #435362; background: #d9d9d9;}*/

a.google_button {display: block; position: absolute; width: 86px; height: 20px; background: url(../img/search_button.gif) no-repeat center center;}
a.google_button:hover {text-decoration: none; background-image: url(../img/search_button_o.gif)}

a#google_object {display: none; top: 12px; right: 103px;}
a#google_tags {display: none; top: 35px; right: 19px;}
* html a#google_object {right: 107px;}
* html a#google_tags {right: 18px;}


/* drag/drop */

.droppable-active {border-style: dashed; border-color: #ccc;}
.droppable-active a {opacity: 0.5;}
.droppable-active legend {font-weight: bold; font-size: 15px;}

.droppable-hover {/*outline: 1px dotted black;*/ border-color: #000; background: #82A431;}
.droppable-hover legend {color: #000;}

.ui-draggable {padding: 3px 6px; border: 2px solid #ccc; background-color: #fff;}
.ui-draggable-dragging, .ui-draggable:hover {color: #333 !important; opacity: 1 !important; text-decoration: none; border: 2px solid #333;}
.ui-draggable-dragging {font-weight: bold; padding: 5px;}


/* jtip */

#JT {position: absolute; z-index: 100000; padding: 0; color:#333; font-size: 11px; font-family: tahoma; background-color: #fff; border: 1px solid #999;}

#JT .book { margin-top: 2px; color: #999; } 
#JT h4 {margin-bottom: 0; color: #82A431; font-family: tahoma; font-size: 11px;}
.sm {color: #aaa; font-size: 9px; white-space: nowrap;}
#JT .n {margin-top: 3px; color: #777;}

.img_h { float: right; margin: 2px 0 6px 6px; text-align: center;}
.img_h img { padding: 1px; border: 1px solid #ccc; max-width: 80px; max-height: 100px; }
#tag_url_desc_inner .img_h {float: left; margin: 2px 9px 6px 0;}
#tag_url_desc_inner .img_h img {max-width: none; max-height: none;}
#tag_url_desc_inner a:hover img {border: 1px solid #ccc !important;}

#JT_copy{ padding: 7px;}
.JT_loader{height: 22px; margin-top: 3px; color: #666; text-align: center;}
.JT_loader img {vertical-align: text-bottom;}


/* autocomplete*/

.ac_results {z-index: 30000; width: 100%; padding: 0px; border: 1px solid #999; background-color: Window; overflow: hidden;}
.ac_results ul {width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; color: #333;}
.ac_results li {margin: 0px; padding: 2px 5px; cursor: default; display: block; font: menu; font-family: arial; font-size: 12px; overflow: hidden;}
.ac_results li em {display: none;}
.ac_results li b {color: #999;}
.ac_results li * {font-weight: normal;}

.ac_results li.d {background: #eaeaea;}
.ac_results li.d * {font-weight: bold;}
.ac_loading {background : Window url('/img/indicator.gif') 84% center no-repeat;}
.ac_over {background-color: #0079AC !important; color: #fff !important;}

.forget{float: right; width: 120px; padding-top: 20px; font-size: 11px; text-align: right;}
